In [1]:
import pymongo
# from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import os
import seaborn as sns
from numpy import float64, int64
import numpy
from dateutil import parser
from datetime import datetime

In [2]:
MONGO_URL="mongodb+srv://viphilongnguyen:egVQ0C3HhJRuVYaZ@cluster0.khgwh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('ASM3')

# ====== REQUEST AREA ======
def fetch_db(collection_name = ''):
  collection = db[collection_name]
  data = collection.find()
  return pd.DataFrame(list(data))
  # return list(data)


def upsert_db(collection_name = '', documents = []):
  upsertReqs = []
  for document in documents:
    upsertReqs.append(
      pymongo.UpdateOne(
        {'_id': document['_id']},
        {'$set': document},
        upsert=True
      )
    )
  
  collection = db[collection_name]
  collection.bulk_write(upsertReqs)


def delete_db(collectionName = '', documents = []):
    delReqs = []
    for document in documents:
        delReqs.append(
            pymongo.DeleteOne(
                {'_id': document['_id']}
            )
        )
    
    collection = db[collectionName]
    collection.bulk_write(delReqs)

In [3]:
data_raw = fetch_db('air_raw')
data_raw.head(5)

,_id,location,current,report_time,aqi,idx,attributions,city,dominentpol,iaqi,time,forecast,debug
0,677ce0ba71af3f52d51429b2,"{'name': 'Ho Chi Minh City', 'region': '', 'co...","{'uv': 8.0, 'air_quality': {'co': 3516.85, 'no...",2025-01-07 08:07:22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,677ce0ca71af3f52d51429b3,"{'name': 'Da Nang', 'region': '', 'country': '...","{'uv': 4.0, 'air_quality': {'co': 1050.8, 'no2...",2025-01-07 08:07:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,677ce0d971af3f52d51429b4,"{'name': 'Ha Noi', 'region': '', 'country': 'V...","{'uv': 5.0, 'air_quality': {'co': 2741.7, 'no2...",2025-01-07 08:07:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,677ce0e871af3f52d51429b5,"{'name': 'Ho Chi Minh City', 'region': '', 'co...","{'uv': 8.0, 'air_quality': {'co': 3516.85, 'no...",2025-01-07 08:08:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,677ce0f771af3f52d51429b6,"{'name': 'Da Nang', 'region': '', 'country': '...","{'uv': 4.0, 'air_quality': {'co': 1050.8, 'no2...",2025-01-07 08:08:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1394 non-null   object
 1   location      1349 non-null   object
 2   current       1349 non-null   object
 3   report_time   1394 non-null   object
 4   aqi           45 non-null     float64
 5   idx           45 non-null     float64
 6   attributions  45 non-null     object
 7   city          45 non-null     object
 8   dominentpol   45 non-null     object
 9   iaqi          45 non-null     object
 10  time          45 non-null     object
 11  forecast      45 non-null     object
 12  debug         45 non-null     object
dtypes: float64(2), object(11)
memory usage: 141.7+ KB

In [5]:
data_raw.isnull().sum()

_id                0
location          45
current           45
report_time        0
aqi             1349
idx             1349
attributions    1349
city            1349
dominentpol     1349
iaqi            1349
time            1349
forecast        1349
debug           1349
dtype: int64

In [6]:
df_temp = data_raw.copy()

In [7]:
import pandas as pd

def parse_json_column(df, json_columns):
    """
    Parses specified JSON columns in a DataFrame and extracts required fields into new columns.

    Parameters:
    - df (pd.DataFrame): The input DataFrame.
    - json_columns (list): List of column names containing JSON data.

    Returns:
    - pd.DataFrame: The DataFrame with extracted fields as new columns and JSON columns dropped.
    """
    # Extract fields from parsed JSON
    df['city'] = df['location'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)
    df['uv'] = df['current'].apply(lambda x: x.get('uv') if isinstance(x, dict) else None)
    df['co'] = df['current'].apply(lambda x: x['air_quality'].get('co') if isinstance(x, dict) and 'air_quality' in x else None)
    df['o3'] = df['current'].apply(lambda x: x['air_quality'].get('o3') if isinstance(x, dict) and 'air_quality' in x else None)
    df['so2'] = df['current'].apply(lambda x: x['air_quality'].get('so2') if isinstance(x, dict) and 'air_quality' in x else None)
    df['pm2_5'] = df['current'].apply(lambda x: x['air_quality'].get('pm2_5') if isinstance(x, dict) and 'air_quality' in x else None)
    df['pm10'] = df['current'].apply(lambda x: x['air_quality'].get('pm10') if isinstance(x, dict) and 'air_quality' in x else None)
    df['us-epa-index'] = df['current'].apply(lambda x: x['air_quality'].get('us-epa-index') if isinstance(x, dict) and 'air_quality' in x else None)
    df['gb-defra-index'] = df['current'].apply(lambda x: x['air_quality'].get('gb-defra-index') if isinstance(x, dict) and 'air_quality' in x else None)

    # Drop parsed columns
    df.drop(columns=json_columns, inplace=True, errors='ignore')

    return df

In [8]:
json_columns = ['location', 'current']
parse_json_column(df_temp, json_columns)

,_id,report_time,aqi,idx,attributions,city,dominentpol,iaqi,time,forecast,debug,uv,co,o3,so2,pm2_5,pm10,us-epa-index,gb-defra-index
0,677ce0ba71af3f52d51429b2,2025-01-07 08:07:22,NaN,NaN,NaN,Ho Chi Minh City,NaN,NaN,NaN,NaN,NaN,8.0,3516.85,42.0,93.425,153.365,155.030,5.0,10.0
1,677ce0ca71af3f52d51429b3,2025-01-07 08:07:38,NaN,NaN,NaN,Da Nang,NaN,NaN,NaN,NaN,NaN,4.0,1050.80,101.0,18.685,115.070,117.660,4.0,10.0
2,677ce0d971af3f52d51429b4,2025-01-07 08:07:53,NaN,NaN,NaN,Ha Noi,NaN,NaN,NaN,NaN,NaN,5.0,2741.70,70.0,74.555,240.315,242.165,5.0,10.0
3,677ce0e871af3f52d51429b5,2025-01-07 08:08:08,NaN,NaN,NaN,Ho Chi Minh City,NaN,NaN,NaN,NaN,NaN,8.0,3516.85,42.0,93.425,153.365,155.030,5.0,10.0
4,677ce0f771af3f52d51429b6,2025-01-07 08:08:23,NaN,NaN,NaN,Da Nang,NaN,NaN,NaN,NaN,NaN,4.0,1050.80,101.0,18.685,115.070,117.660,4.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1389,677ff83c55f8f0b6f7d11223,2025-01-09 16:24:28,NaN,NaN,NaN,Ha Noi,NaN,NaN,NaN,NaN,NaN,0.0,1344.95,130.0,69.930,100.640,101.380,4.0,10.0
1390,677ff84c55f8f0b6f7d11224,2025-01-09 16:24:44,NaN,NaN,NaN,Ho Chi Minh City,NaN,NaN,NaN,NaN,NaN,0.0,1689.05,192.0,38.665,64.750,66.600,3.0,8.0
1391,677ff85b55f8f0b6f7d11225,2025-01-09 16:24:59,NaN,NaN,NaN,Da Nang,NaN,NaN,NaN,NaN,NaN,0.0,712.25,107.0,2.960,37.000,42.180,2.0,4.0
1392,677ff86a55f8f0b6f7d11226,2025-01-09 16:25:14,NaN,NaN,NaN,Ha Noi,NaN,NaN,NaN,NaN,NaN,0.0,1344.95,130.0,69.930,100.640,101.380,4.0,10.0
1393,677ff87e55f8f0b6f7d11227,2025-01-09 16:25:34,NaN,NaN,NaN,Ho Chi Minh City,NaN,NaN,NaN,NaN,NaN,0.0,1689.05,192.0,38.665,64.750,66.600,3.0,8.0

In [16]:
df_temp.head()

,_id,report_time,city,uv,co,o3,so2,pm2_5,pm10,us-epa-index,gb-defra-index
0,677ce0ba71af3f52d51429b2,2025-01-07 08:07:22,Ho Chi Minh City,8.0,3516.85,42.0,93.425,153.365,155.030,5,10
1,677ce0ca71af3f52d51429b3,2025-01-07 08:07:38,Da Nang,4.0,1050.80,101.0,18.685,115.070,117.660,4,10
2,677ce0d971af3f52d51429b4,2025-01-07 08:07:53,Ha Noi,5.0,2741.70,70.0,74.555,240.315,242.165,5,10
3,677ce0e871af3f52d51429b5,2025-01-07 08:08:08,Ho Chi Minh City,8.0,3516.85,42.0,93.425,153.365,155.030,5,10
4,677ce0f771af3f52d51429b6,2025-01-07 08:08:23,Da Nang,4.0,1050.80,101.0,18.685,115.070,117.660,4,10

In [9]:
def split_report_time(df, column_name='report_time'):
    # Ensure the column is in datetime format
    df[column_name] = pd.to_datetime(df[column_name])
    
    # Create new columns for date and time as strings
    df['date'] = df[column_name].dt.date.astype(str)
    df['time'] = df[column_name].dt.time.astype(str)
    
    # Optionally drop the original report_time column if no longer needed
    df = df.drop(columns=[column_name])
    
    return df

df_temp = split_report_time(df_temp)

In [10]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1394 non-null   object
 1   aqi             45 non-null     float64
 2   idx             45 non-null     float64
 3   attributions    45 non-null     object
 4   city            1349 non-null   object
 5   dominentpol     45 non-null     object
 6   iaqi            45 non-null     object
 7   time            1394 non-null   object
 8   forecast        45 non-null     object
 9   debug           45 non-null     object
 10  uv              1349 non-null   float64
 11  co              1349 non-null   float64
 12  o3              1349 non-null   float64
 13  so2             1349 non-null   float64
 14  pm2_5           1349 non-null   float64
 15  pm10            1349 non-null   float64
 16  us-epa-index    1349 non-null   float64
 17  gb-defra-index  1349 non-null   float64
 18  date            1394 non-null   object
dtypes: float64(10), object(9)
memory usage: 207.1+ KB

In [11]:
MONGO_URL="mongodb+srv://viphilongnguyen:egVQ0C3HhJRuVYaZ@cluster0.khgwh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('ASM3')

def upsert_db(collection_name = '', documents = []):
  upsertReqs = []
  for document in documents:
    upsertReqs.append(
      pymongo.UpdateOne(
        {'_id': document['_id']},
        {'$set': document},
        upsert=True
      )
    )
  
  collection = db[collection_name]
  collection.bulk_write(upsertReqs)
  

def delete_db(collectionName = '', documents = []):
    delReqs = []
    for document in documents:
        delReqs.append(
            pymongo.DeleteOne(
                {'_id': document['_id']}
            )
        )
    
    collection = db[collectionName]
    collection.bulk_write(delReqs)

In [21]:
# Convert DataFrame to a list of dictionaries
df_temp_dict = df_temp.to_dict(orient='records')
upsert_db('air_clean', df_temp_dict)
# delete_db('traffic_raw', data_traffic_raw)