In [1]:
import pymongo
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import os
import seaborn as sns
from numpy import float64, int64
import numpy
from dateutil import parser
from datetime import datetime

In [96]:
MONGO_URL="mongodb+srv://viphilongnguyen:egVQ0C3HhJRuVYaZ@cluster0.khgwh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('ASM3')

# ====== REQUEST AREA ======
def fetch_db(collection_name = ''):
  collection = db[collection_name]
  data = collection.find()
  return pd.DataFrame(list(data))
  # return list(data)


def upsert_db(collection_name = '', documents = []):
  upsertReqs = []
  for document in documents:
    upsertReqs.append(
      pymongo.UpdateOne(
        {'_id': document['_id']},
        {'$set': document},
        upsert=True
      )
    )
  
  collection = db[collection_name]
  collection.bulk_write(upsertReqs)


def delete_db(collectionName = '', documents = []):
    delReqs = []
    for document in documents:
        delReqs.append(
            pymongo.DeleteOne(
                {'_id': document['_id']}
            )
        )
    
    collection = db[collectionName]
    collection.bulk_write(delReqs)

In [97]:
data_raw = fetch_db('weather_raw')
data_raw.head(5)

,_id,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod,report_time
0,677b4eb510a44e7721855a21,"{'lon': 106.6602, 'lat': 10.7626}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 302.72, 'feels_like': 304.66, 'temp_m...",10000,"{'speed': 0.99, 'deg': 304, 'gust': 0.65}",{'all': 60},1736134259,"{'country': 'VN', 'sunrise': 1736118798, 'suns...",25200,1566083,Ho Chi Minh City,200,2025-01-06 03:32:05
1,677b4ef210a44e7721855a22,"{'lon': 108.2062, 'lat': 16.0471}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 295.09, 'feels_like': 294.98, 'temp_m...",10000,"{'speed': 2.8, 'deg': 47, 'gust': 2.52}",{'all': 85},1736134255,"{'country': 'VN', 'sunrise': 1736118980, 'suns...",25200,1594018,Ap Ba,200,2025-01-06 03:33:06
2,677b4f3110a44e7721855a23,"{'lon': 105.8048, 'lat': 21.0285}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 296.15, 'feels_like': 295.5, 'temp_mi...",10000,"{'speed': 3.09, 'deg': 141, 'gust': 3.68}",{'all': 9},1736134449,"{'country': 'VN', 'sunrise': 1736120106, 'suns...",25200,1581130,Hanoi,200,2025-01-06 03:34:09
3,677b4f6d10a44e7721855a24,"{'lon': 106.6602, 'lat': 10.7626}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 302.72, 'feels_like': 304.66, 'temp_m...",10000,"{'speed': 0.99, 'deg': 304, 'gust': 0.65}",{'all': 60},1736134509,"{'country': 'VN', 'sunrise': 1736118798, 'suns...",25200,1566083,Ho Chi Minh City,200,2025-01-06 03:35:09
4,677b4faa10a44e7721855a25,"{'lon': 108.2062, 'lat': 16.0471}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 295.09, 'feels_like': 294.98, 'temp_m...",10000,"{'speed': 2.8, 'deg': 47, 'gust': 2.52}",{'all': 85},1736134570,"{'country': 'VN', 'sunrise': 1736118980, 'suns...",25200,1594018,Ap Ba,200,2025-01-06 03:36:10

In [98]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          1799 non-null   object
 1   coord        1799 non-null   object
 2   weather      1799 non-null   object
 3   base         1799 non-null   object
 4   main         1799 non-null   object
 5   visibility   1799 non-null   int64
 6   wind         1799 non-null   object
 7   clouds       1799 non-null   object
 8   dt           1799 non-null   int64
 9   sys          1799 non-null   object
 10  timezone     1799 non-null   int64
 11  id           1799 non-null   int64
 12  name         1799 non-null   object
 13  cod          1799 non-null   int64
 14  report_time  1799 non-null   object
dtypes: int64(5), object(10)
memory usage: 210.9+ KB

In [99]:
data_raw.isnull().sum()

_id            0
coord          0
weather        0
base           0
main           0
visibility     0
wind           0
clouds         0
dt             0
sys            0
timezone       0
id             0
name           0
cod            0
report_time    0
dtype: int64

In [100]:
data_raw.head()

,_id,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod,report_time
0,677b4eb510a44e7721855a21,"{'lon': 106.6602, 'lat': 10.7626}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 302.72, 'feels_like': 304.66, 'temp_m...",10000,"{'speed': 0.99, 'deg': 304, 'gust': 0.65}",{'all': 60},1736134259,"{'country': 'VN', 'sunrise': 1736118798, 'suns...",25200,1566083,Ho Chi Minh City,200,2025-01-06 03:32:05
1,677b4ef210a44e7721855a22,"{'lon': 108.2062, 'lat': 16.0471}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 295.09, 'feels_like': 294.98, 'temp_m...",10000,"{'speed': 2.8, 'deg': 47, 'gust': 2.52}",{'all': 85},1736134255,"{'country': 'VN', 'sunrise': 1736118980, 'suns...",25200,1594018,Ap Ba,200,2025-01-06 03:33:06
2,677b4f3110a44e7721855a23,"{'lon': 105.8048, 'lat': 21.0285}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 296.15, 'feels_like': 295.5, 'temp_mi...",10000,"{'speed': 3.09, 'deg': 141, 'gust': 3.68}",{'all': 9},1736134449,"{'country': 'VN', 'sunrise': 1736120106, 'suns...",25200,1581130,Hanoi,200,2025-01-06 03:34:09
3,677b4f6d10a44e7721855a24,"{'lon': 106.6602, 'lat': 10.7626}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 302.72, 'feels_like': 304.66, 'temp_m...",10000,"{'speed': 0.99, 'deg': 304, 'gust': 0.65}",{'all': 60},1736134509,"{'country': 'VN', 'sunrise': 1736118798, 'suns...",25200,1566083,Ho Chi Minh City,200,2025-01-06 03:35:09
4,677b4faa10a44e7721855a25,"{'lon': 108.2062, 'lat': 16.0471}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 295.09, 'feels_like': 294.98, 'temp_m...",10000,"{'speed': 2.8, 'deg': 47, 'gust': 2.52}",{'all': 85},1736134570,"{'country': 'VN', 'sunrise': 1736118980, 'suns...",25200,1594018,Ap Ba,200,2025-01-06 03:36:10

In [121]:
df_temp = data_raw.copy()

In [122]:
def parse_json_format_column(df, column_name, keys):
    # Ensure the column contains JSON-parsable data
    def extract_json_data(row):
        try:
            return json.loads(row) if isinstance(row, str) else row
        except json.JSONDecodeError:
            return None

    df[column_name] = df[column_name].apply(extract_json_data)

    # Extract specified keys and create new columns
    for key in keys:
        df[f"{column_name}_{key}"] = df[column_name].apply(lambda x: x.get(key) if isinstance(x, dict) else None)

    # Drop the original column if desired
    df = df.drop(columns=[column_name])

    return df

In [123]:
json_columns = ['coord', 'weather', 'main', 'wind', 'clouds', 'sys']

In [124]:
def parse_json_column(df):

    # Extract fields from parsed JSON
    df['longitude'] = df['coord'].apply(lambda x: x.get('lon'))
    df['latitude'] = df['coord'].apply(lambda x: x.get('lat'))
    df['weather_main'] = df['weather'].apply(lambda x: x[0]['main'] if x else None)
    df['weather_desc'] = df['weather'].apply(lambda x: x[0]['description'] if x else None)
    df['temperature'] = df['main'].apply(lambda x: x.get('temp'))
    df['feels_like'] = df['main'].apply(lambda x: x.get('feels_like'))
    df['pressure'] = df['main'].apply(lambda x: x.get('pressure'))
    df['humidity'] = df['main'].apply(lambda x: x.get('humidity'))
    df['wind_speed'] = df['wind'].apply(lambda x: x.get('speed'))
    df['wind_deg'] = df['wind'].apply(lambda x: x.get('deg'))
    df['cloudiness'] = df['clouds'].apply(lambda x: x.get('all'))
    df['country'] = df['sys'].apply(lambda x: x.get('country'))
    df['sunrise'] = df['sys'].apply(lambda x: datetime.utcfromtimestamp(x.get('sunrise')))
    df['sunset'] = df['sys'].apply(lambda x: datetime.utcfromtimestamp(x.get('sunset')))
    
    json_columns = ['coord', 'weather', 'main', 'wind', 'clouds', 'sys']
    # Drop parsed columns
    df.drop(columns=json_columns, inplace=True)

In [125]:
parse_json_column(df_temp)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19024\375274115.py:16: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  df['sunrise'] = df['sys'].apply(lambda x: datetime.utcfromtimestamp(x.get('sunrise')))
C:\Users\ASUS\AppData\Local\Temp\ipykernel_19024\375274115.py:17: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  df['sunset'] = df['sys'].apply(lambda x: datetime.utcfromtimestamp(x.get('sunset')))

In [126]:
df_temp.head()

,_id,base,visibility,dt,timezone,id,name,cod,report_time,longitude,...,temperature,feels_like,pressure,humidity,wind_speed,wind_deg,cloudiness,country,sunrise,sunset
0,677b4eb510a44e7721855a21,stations,10000,1736134259,25200,1566083,Ho Chi Minh City,200,2025-01-06 03:32:05,106.6602,...,302.72,304.66,1012,57,0.99,304,60,VN,2025-01-05 23:13:18,2025-01-06 10:44:30
1,677b4ef210a44e7721855a22,stations,10000,1736134255,25200,1594018,Ap Ba,200,2025-01-06 03:33:06,108.2062,...,295.09,294.98,1018,63,2.80,47,85,VN,2025-01-05 23:16:20,2025-01-06 10:29:06
2,677b4f3110a44e7721855a23,stations,10000,1736134449,25200,1581130,Hanoi,200,2025-01-06 03:34:09,105.8048,...,296.15,295.50,1019,38,3.09,141,9,VN,2025-01-05 23:35:06,2025-01-06 10:29:33
3,677b4f6d10a44e7721855a24,stations,10000,1736134509,25200,1566083,Ho Chi Minh City,200,2025-01-06 03:35:09,106.6602,...,302.72,304.66,1012,57,0.99,304,60,VN,2025-01-05 23:13:18,2025-01-06 10:44:30
4,677b4faa10a44e7721855a25,stations,10000,1736134570,25200,1594018,Ap Ba,200,2025-01-06 03:36:10,108.2062,...,295.09,294.98,1018,63,2.80,47,85,VN,2025-01-05 23:16:20,2025-01-06 10:29:06

In [127]:
def drop_columns(df):
    columns_to_drop = ['base', 'dt', 'cod', 'id', 'timezone', 'sunrise', 'sunset','country']
    df = df.drop(columns=columns_to_drop, errors='ignore')
    return df

In [128]:
df_temp = drop_columns(df_temp)

In [129]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1799 non-null   object
 1   visibility    1799 non-null   int64
 2   name          1799 non-null   object
 3   report_time   1799 non-null   object
 4   longitude     1799 non-null   float64
 5   latitude      1799 non-null   float64
 6   weather_main  1799 non-null   object
 7   weather_desc  1799 non-null   object
 8   temperature   1799 non-null   float64
 9   feels_like    1799 non-null   float64
 10  pressure      1799 non-null   int64
 11  humidity      1799 non-null   int64
 12  wind_speed    1799 non-null   float64
 13  wind_deg      1799 non-null   int64
 14  cloudiness    1799 non-null   int64
dtypes: float64(5), int64(5), object(5)
memory usage: 210.9+ KB

In [130]:
def split_report_time(df, column_name='report_time'):
    # Ensure the column is in datetime format
    df[column_name] = pd.to_datetime(df[column_name])
    
    # Create new columns for date and time as strings
    df['date'] = df[column_name].dt.date.astype(str)
    df['time'] = df[column_name].dt.time.astype(str)
    
    # Optionally drop the original report_time column if no longer needed
    df = df.drop(columns=[column_name])
    
    return df

df_temp = split_report_time(df_temp)

In [131]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1799 non-null   object
 1   visibility    1799 non-null   int64
 2   name          1799 non-null   object
 3   longitude     1799 non-null   float64
 4   latitude      1799 non-null   float64
 5   weather_main  1799 non-null   object
 6   weather_desc  1799 non-null   object
 7   temperature   1799 non-null   float64
 8   feels_like    1799 non-null   float64
 9   pressure      1799 non-null   int64
 10  humidity      1799 non-null   int64
 11  wind_speed    1799 non-null   float64
 12  wind_deg      1799 non-null   int64
 13  cloudiness    1799 non-null   int64
 14  date          1799 non-null   object
 15  time          1799 non-null   object
dtypes: float64(5), int64(5), object(6)
memory usage: 225.0+ KB

In [132]:
MONGO_URL="mongodb+srv://viphilongnguyen:egVQ0C3HhJRuVYaZ@cluster0.khgwh.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client = pymongo.MongoClient(MONGO_URL)
db = client.get_database('ASM3')

def upsert_db(collection_name = '', documents = []):
  upsertReqs = []
  for document in documents:
    upsertReqs.append(
      pymongo.UpdateOne(
        {'_id': document['_id']},
        {'$set': document},
        upsert=True
      )
    )
  
  collection = db[collection_name]
  collection.bulk_write(upsertReqs)
  

def delete_db(collectionName = '', documents = []):
    delReqs = []
    for document in documents:
        delReqs.append(
            pymongo.DeleteOne(
                {'_id': document['_id']}
            )
        )
    
    collection = db[collectionName]
    collection.bulk_write(delReqs)

In [133]:
# Convert DataFrame to a list of dictionaries
df_temp_dict = df_temp.to_dict(orient='records')
upsert_db('weather_clean', df_temp_dict)
# delete_db('traffic_raw', data_traffic_raw)